<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="../../assets/quilt-machine(copy).jpg" alt="">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            
            
            April Johnson is the proud momma of 10 (yes, I include the new sons and daughters my children bring to me) and grandmother to 5. She has been sewing since she was 8 and finished her first quilt in 7th grade. She got tired of hand-quilting that early quilt and tied the rest of it with yarn. 10 years ago, she got back into quilting with the encouragement of friends and technology, in the form of quilting machines that can help stitch cool designs. When she isn’t quilting or sewing, she likes to; be with family, quilt for charity, read, play music, teach music, sing, write, crochet, and participate in storytelling adventures. She enjoys helping clients turn their hard work on quilt tops into beautiful, finished gems they can enjoy for many years.
        </div>
    </div>
</div>
