<div class="container">
    <div class="row"> 
        <div class="col"></div>
        <div class="col-md-10">
            <div class="intro ">
                <h1 class="text-center">Welcome to the Quilting Cottage</h1>

                <p>Thanks for visiting my quilting cottage, I hope you like what you see. I have always enjoyed sewing and would hope that I will be able to share my skill with you.</p>
            </div>

                <img  class="mr-2" src="../assets/Quilt photos/BlueFlower.jpg" alt="">
        <img  class="mr-2" src="../assets/Quilt photos/PurpleYellow.jpg" alt="" >
        <img  class="mr-2" src="../assets/Quilt photos/psycadellic.jpg" alt="">
        <img  class="mr-2" src="../assets/Quilt photos/YellowDots.jpg" alt="" >
        <img  class="mr-2" src="../assets/Quilt photos/BlueStripes.jpg" alt="" >
        <img  class="mr-2" src="../assets/Quilt photos/Halloween.jpg" alt="" >
          </div>

          <div class="col"></div>
       
    </div>

    
   
</div>