.image-preview{
    height: 5rem;
    margin: 1rem 0;

    img{
        height: 100%;
        margin: auto 1rem auto 1rem;
    }
}

button[type=submit]{
    margin-left: 2rem;
    margin-top: 1rem;
}
